.about {
    height: 100vh;
}

.about-item {
    border: 1px solid #eee;
    padding: 40px 20px;
}

.about-item:hover .about-item-title {
    color: white;
}

.about-item-desc {
    line-height: 1.6;
}